apiVersion: v1
baseDomain: {{ cluster_domain }}
metadata:
  name: {{ cluster_name }}
compute:
### CHANGE_ME
controlPlane:
### CHANGE_ME
networking:
### CHANGE_ME
platform:
### CHANGE_ME
fips: true
imageContentSources:
- mirrors:
  - {{ management_hostname }}.{{ cluster_name }}.{{ cluster_domain }}:{{ registry_port }}/openshift/release
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ management_hostname }}.{{ cluster_name }}.{{ cluster_domain }}:{{ registry_port }}/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
pullSecret: '{{ lookup('file', '{{ ansible_user_dir }}/.docker/config.json') }}'
sshKey: '{{ lookup('file', '{{ secrets_dir }}/id_rsa_kubeadmin.pub') }}'
additionalTrustBundle: |
{{ lookup('file', '{{ cert_directory }}/ssl.cert') | indent( width=2, indentfirst=True)}}
